.global {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.picture {
    margin: 10px;
}
.image {
    border-radius: 10px;
}
.zoomedPicture {
    object-fit: contain;
    max-height: 80vh;
    max-width: 90vw;
}
