.global {
    display: flex;
    height: 100vh;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}
.content {
    display: flex;
    flex: 1;
    flex-direction: row;
}
.title {
    text-align: center;
    font-size:3rem;
    margin:10px;
}
.textSection {
    display: flex;
    flex: 3;
    flex-direction: column;
    margin: 20px;
}
.rightSection {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: stretch;
}
.usedTechnos {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}
.usedTechno {
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    background-color: rgb(183, 238, 178);
}
.githubs{
    display: flex;
    justify-content: space-around;
}
.github{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line{
    border : solid 1px grey;
    margin : 20px;
}
.linkWebsite{
    text-align: center;
}
.goBackBtn{
    height: 40px;
    width: 40px;
    border: 0;
    background-color: rgb(197, 197, 202);
    border-radius: 50px;
}
.goBackBtn:hover{
    cursor: pointer;
}